*{
	padding:0;
	margin:0;
}
body{
	background-image:url('https://images.unsplash.com/photo-1557683311-eac922347aa1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1915&q=80');
	background-size:cover;
	overflow: hidden;
}

/*Override*/
.form-check-input:checked {
	background-color: #0dcaf0 !important;
	border-color: #0dcaf0 !important;
}

